div.fr-confirm-dialog.fr-modal-dialog-bg.hidden(role='bg')
div.fr-confirm-dialog.fr-modal-dialog.hidden(tabindex='0',role='dialog')
    div.fr-confirm-dialog.fr-modal-dialog-title.fr-confirm-dialog.gr-modal-dialog-title-draggable.fr-confirm-dialog.fr-modal-dialog-title-draggable(id=':em')
        span.fr-confirm-dialog.fr-modal-dialog-title-text
        span.fr-confirm-dialog.fr-modal-dialog-title-close
    div.fr-confirm-dialog.fr-modal-dialog-content Are you sure that you'd like to unsubscribe from 
    div.fr-confirm-dialog.fr-modal-dialog-buttons
        button(name='ok',class='goog-buttonset-default') OK
        button(name='cancel') Cancel
