form#quick-add-form
    span#quick-add-instructions Enter a search term to find feeds or paste a feed URL.
    div#quick-add-close
    div#quick-add-input-div
        input#quickadd(type='text',name='quickadd',autocomplete='off',spellcheck='false',style='width:225px;',required)
        div(role='wairole:button',tabindex='0',id='quick-add-btn',class='goog-button goog-button-base unselectable goog-inline-block goog-button-float-left goog-button-tight')
            div.goog-button-base-outer-box.goog-inline-block
                div.goog-button-base-inner-box.goog-inline-block
                    div.goog-button-base-pos
                        div.goog-button-base-content
                            div.goog-button-body Add
    div#quick-add-helptext e.g: googleblog.bolgspot.com or sky sports
