#title-and-status-holder
    span#chrome-title
        a(target='_blank')
            span#chevron »
.samedir
    #quick-add-success.hidden
        "You have subscribed to ""
        span#quick-add-success-title
        ""."
    #entries.single-source-cards
