div.viewer-page
    div#home
        div#sections-header
            div.contents
                div.lhn-nav-button-container
                    div(role='wairole:button',tabindex='0',class='goog-button goog-button-base unselectable goog-inline-block goog-button-float-left goog-menu-button goog-button-tight hidden')#chrome-lhn-menu
                        div.goog-button-base-outer-box.goog-inline-block
                            div.goog-button-base-inner-box.goog-inline-block
                                div.goog-button-base-pos
                                    div.goog-button-base-content
                                        div.goog-button-body Navigation
                                        div.goog-menu-button-dropdown
                div.overview-section-header A look at what's new in your Reader
                div.settings-button-container
                    div(role='button',id='settings-button',class='goog-inline-block jfk-button jfk-button-standard viewer-buttons goog-flat-menu-button',tabindex='0',title='Settings')
                        div.goog-inline-block.goog-flat-menu-button-caption
                            img(src='../images/settings.png',class='jfk-button-img')
                        div.goog-inline-block.goog-flat-menu-button-dropdown &nbsp;
                div.clear
        div#sections-holder
            div#sections
                div#right-section
                    div.overview-section
                        div.section#recent-activity
                            div#recent-activity-star.recent
                            div#recent-activity-read.recent
                        div#tips
                            div.section-header Tips and tricks
                            div#tips-body
                                p here's some tips
                div#left-section
                    div.overview-section
                        div#overview
                            div.section-header New in your subscriptions
            div#overview-footer
                div#footer
                    div.copyright © This Reader was made by Tianqi Wang, noodles.q@gmail.com
