div#form
    form
        fieldset
            legend Sign in
            label Email
            input(type='text',placeholder='enter email')
            label Password
            input(type='text',placeholder='enter password')
            label.checkbox
                input(type='checkbox') Stay signed in
            button(type='submit',class='btn') Sign in
