head   
    meta(charset='UTF-8')
    meta(name='application-name',content='TQReader-login')
    meta(name='description',content='the login page to TQReader')
    link(href='./images/favicon.ico',rel='SHORTCUT ICON')
    noscript.
        "<style>
            div {display: none;}
            table {display: none;}
            #noscript {padding: 3em;font-size:130%;}
        </style>
        <p id='noscript'>Your browser seems disabled Javascript, if you want to use TQReader please enable Javascript, then <a href='../'>Try again</a> or refresh the page</p>
        "
    script(type='text/javascript',src='./scripts/store.js')
    script.
        if (window._localStorage.get('tq_email') ||
            window._cookie.get('tq_email'))
        {
            //window._localStorage.remove('tq_email');
            //window._cookie.set('tq_email','','1970-1-1');
            window.location.href = './main.html';    
        }
    link(href='./styles/login.css',type='text/css',rel='stylesheet')
