div#form.sign-in
    div.signin-box
        h2 Sign in
        form#loginform(method='post',action='./server/auth')
            div.email-div
                label(for='Email')
                    strong.email-label Email
                input#Email(type='email',value='',name='Email',spellcheck='false',data-toggle='popover',data-placement='top',data-content='Cannot find the email') 
            div.passwd-div
                label(for='Passwd')
                    strong.passwd-label Password
                input#Passwd(type='password',name='Passwd',data-toggle='popover',data-placement='top',data-content='Wrong password')
            input#signIn.button.button-submit(type='submit',value='Sign in',name='signIn',data-toggle='popover',data-placement='right',data-content='The sign in form cannot be empty')
            label.remember
                input#PersistentCookie(type='checkbox',checked='checked',value='yes',name='PersistentCookie')
                strong.remember-label Stay signed in
        div#register-div Don't have an account? 
            a(href='#reg-box',data-toggle='modal') Click here.
